{% extends "user/base_template.html" %}
{% load crispy_forms_tags %}
{% block content %}

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		.content-section{
  			justify-content: center;
			align-items: center;
			text-align: center;
		}
		td{
			padding: 5px;
		}
		.contain{
			padding: 10px;
			position: relative;
			border-radius: 8px;
			align-items:center;
			text-align:center;
			justify-content:center;
		}	
		.loginbtn{
			padding: 30px;
		}
		label{
			font-size: 20px;
		}
		body{
		}
		input{
			border-radius: 7px;
		}
	</style>

	<div class='content-section'>
		<form method="POST">
			{% csrf_token %}
			<div class="contain">
				<legend class="border-bottom mb-4"><strong>Login</strong></legend>
				<div>
					<table>
						<tr>
							<td>
								<label for="username"><strong>Username</strong></label>
							</td>
							<td>
								<input type="Username" name="Username" id="username">
							</td>
						</tr>
						<tr>
							<td>
								<label for="password"><strong>Password</strong></label>
							</td>
							<td>
								<input type="Password" name="Password" id="password">
							</td>
						</tr>
						<tr >
							<td colspan="2" class="loginbtn">
								<button class="btn btn-outline-info" type="submit">--Login--</button>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</form>
	</div>
{% endblock content%}
