{% extends 'user/base_template.html' %}
{% block content %}
	<h3> Attendances </h3>
	{% for item in attendance %}
		<article class="media content-section">
		  <div class="media-body">
		    <strong>{{ item.subject }}</strong>
		    <small class="text-muted">{{ item.time }}</small>
		  </div>
		</article>
	{% endfor %}
	<h3> Upcoming Assignment Submissions </h3>
	{% for item in assignment %}
		<article class="media content-section">
		  <div class="media-body">
		    <strong>{{ item.subject }}</strong>
		    <small class="text-muted">{{ item.time }}</small>
		    <p>{{ item.title }}
		    <a href={{ item.link }} target="blank"> Add Submission </a>
		  </div>
		</article>
	{% endfor %}
	<h3> Upcoming Quiz </h3>
	{% for item in quiz %}
		<article class="media content-section">
		  <div class="media-body">
		    <strong>{{ item.subject }}</strong>
		    <small class="text-muted">{{ item.time }}</small>
		    <p>{{ item.title }}</p>
		    <a href={{ item.link }} target="blank"> Go to activity </a>
		  </div>
		</article>
	{% endfor %}
{% endblock content %}

